# Python
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/
dist/

# Environment variables
.env

# Upload folder
uploads/

# IDE
.vscode/
.idea/